@charset "UTF-8";


div.formdata {
	margin-right: auto;
	margin-left : auto;
	text-align: center;
	margin-top: 1.5rem;
	width: 100%;
	max-width: 600px;
}

div.formdata button[type="submit"] {
	margin-right: auto;
	margin-left : auto;
	width: 100%;
	max-width: 280px;
}

.card-width {
	min-width: 60%;
}

.item-card-width {
	max-width: 60%;
}
